@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body{
background-image: linear-gradient(to left, #53696d, #425654, #34423d, #283029, #1b1e17);
font-family: 'Balsamiq Sans', cursive;
}

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }